.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.main-content, .recommendation-content, .doubt-content, .choice-content {
    padding: 0 15px;
    font-weight: 700;
}

.main-content h1, .recommendation-content h1, .doubt-content h1, .choice-content h1 {
    font-size: 30px;
}

.main-content p, .recommendation-content p, .doubt-content p, .choice-content p {
    font-size: 15px;
}

.recommendation-content h1, .recommendation-content p, .choice-content h1, .choice-content p {
    color: #000;
}

.main-content h1, .main-content p, .doubt-content h1, .doubt-content p {
    color: #FFF;
}

.main-content {
    display: flex;
    flex-direction: row;
    height: 203px;
}

.main-text {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin-top: 150px;
}

.main-text h1 {
    margin-bottom: 30px;
}

.main-button {
    display: flex;
    gap: 3%;
    margin-top: 30px;
}

.main-button Button {
    width: 140px;
}

.divImg {
    position: absolute;
    left: 63.5%;
    top: 19%;
}

.imgCircle {
    position: inherit;
    z-index: 1;
}

.imgGirl {
    z-index: 2;
    position: inherit;
    margin: 90px 0 0 154px;
}

.recommendation-content {
    margin-top: 600px;
    background: #FFF;
    height: 460px;
}

.recommendation-img {
    margin-top: 10px;
}

.imgUnion {
    position: absolute;
    z-index: 1;
}

.imgPeople {
    position: absolute;
    z-index: 2;
}

.recommendation-text {
    display: flex;
    justify-content: right;
}

.recommendation-text div {
    display: inherit;
    flex-direction: column;
    text-align: end;
    width: 700px;
}
    
.recommendation-text h1 {
    margin-bottom: 30px;
}
  
.recommendation-text p {
    margin-bottom: 40px;
}

.doubt-content {
    display: flex;
    background: #282828;
    padding-top: 10px;
}

.doubt-text {
    display: inherit;
    flex-direction: column;
    width: 50%;
    height: 460px;
}

.doubt-text h1 {
    margin-bottom: 30px;
}

.doubt-text p {
    margin-bottom: 40px;
}

.choice-content {
    display: flex;
    background: #FFF;
    padding-top: 10px;
    height: 460px;
}

.choice-text {
    width: 100%;
    text-align: center;
}

.choice-content p {
    font-size: 22px;
}

.choice-title {
    justify-content: center;
}

.choice-lifes {
    display: flex;
    text-align: center;
    width: 180px;
}