.header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.navigation a:not(:last-child) {
    margin-right: 29px;
}

.navigation a {
    color: white;
}

.button-header {
    background: #4CDE35;
}

.hero {
    width: 100%;
    max-width: 1216px;
    margin: 0 auto;
    padding: 206px 0 131px 0;
}

.hero__text {
    width: 486px;
    margin-bottom: 92px;
}

.hero__buttons {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.hero__girl {
    position: absolute;
    z-index: 2;
    top: 31%;
    right: 254px;
}

.hero__circle {
    position: absolute;
    z-index: 1;
    top: 180px;
    right: 55px;
}

.doubts {
    background-color: #282828;
    padding: 60px 0 94px;
}

.doubts__content {
    width: 100%;
    max-width: 1216px;
    margin: 0 auto;
}

.doubts__texts, .recommendation__texts {
    width: 588px;
}

.recommendation {
    padding: 37px 0 8px;
    background-color: white;
    z-index: 3;
}

.recommendation__content {
    width: 100%;
    max-width: 1216px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
}

.stfm__content {
    padding-top: 60px;
    background-color: white;
    text-align: center;
    height: 956px;
}

.stfm__content div {
    position: absolute;
    left: 30%;
    top: 240%;
}