.hero {
    width: 100%;
    max-width: 1216px;
    margin: 0 auto;
    padding: 206px 0 131px 0;
}

.hero__text {
    width: 486px;
    margin-bottom: 92px;
}

.hero__buttons {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 92px;
}

.hero__imagefull {
    position: absolute;
    top: 20.5%;
    right: 55px;
}